body {
    margin: 0;
}

canvas {
    border: 3px solid black;
    margin: 10px;
    touch-action: none;
}

#games-list {
    text-align: left;
    border: 1px solid black;

    tbody {
        min-height: 100px;
    }
}

.players-container {
    .player-slot {
        // display: inline-block;
        position: relative;
        padding: 12px;
        .toggle-slot {
            height: 1em;
            width: 1em;
            position: relative;
            right: 0;
            border-radius: 100%;
            border: 1px solid black;
        }
    }
}